.backvideo-container {
  height: 600px;
}

.text-wrapper {
  padding: 40px;
  margin-top: 100px;
  text-align: center;
  /* display: inline-block; */
  border: 2px solid none;
  border-radius: 5px;
}
.text-wrapper h1 {
  height: 105px;
  width: 631px;
  font-weight: 900;
  /* line-height: 113px; */
  /* line-height:3cm; */
  display: inline-block;
  border: 2px solid none;
  border-radius: 5px;
  text-align: center;

  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 70px;
}

video {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0;
  width: 1458.43px;
  height: 499.992px;
  object-fit: cover;
  margin-top: 50px;
}
