.navbar {
  background-color: rgb(247, 240, 240);
  width: 100%;
  height: 35px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar a {
  text-decoration: none;
  color: rgb(10, 10, 9);
  font-size: 15px;
  margin-left: none;
  text-transform: uppercase;
}

.navbar a:hover {
  color: rgb(33, 108, 221);
}
