.container {
  width: 100%;
  height:450px;
  min-width: auto;
  min-height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
.slide {
  width: 360px;
  height: 370px;
  min-width: auto;
  min-height: auto;
  padding: 10px;
}
.slide h2{
  font-size: 32px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}
.slide p{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}
.slide img {
  width: 360px;
  height: 350px;
}
.disc{
  width: 60%;
  height: 350px;
  padding: 10px;
  min-width: auto;
  min-height: auto;
}
.disc .logo {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.disc .logo img{
  width: 20%;
  height: 120px;
}
.disc .logo h2{
  height: 120px;
  width: 70%;
  font-size: 36px;
  margin: 0%;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}
.disc p{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}
.disc .buttons {
  height:50px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.disc button{
  height: 50px;
  width: 140px;
  background:#000000;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color:#fcfcfc;
  border-radius: 5px;
  border: none;
  letter-spacing: 0.2px;
}