.container {
  display: flex;
  background-color: rgb(255, 255, 255);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 25px;
  text-decoration: none solid rgb(119, 119, 119);
  word-spacing: 0px;
  height: 399.996px;
  padding: 0 80px 0 80px;
  position: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-height: auto;
}

.charity .cont-text {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  padding-right: 40;
  max-width: 100%;
  height: auto;
}

.charity .cont-image {
  display: flex;
  width: 40%;
  height: 400;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  max-width: 100%;
  height: auto;
}

.charity .cont-image img {
  width: 500px;
  max-width: 100%;
  min-width: 250px;
  height: auto;
}

.charity .cont-charity {
  font-family: opensans, "Halvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none solid rgb(0, 0, 0);
  word-spacing: 0px;
  color: black;
  text-align: left;
}
.charity .cont-desc {
  text-decoration: none solid rgb(0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 20px;
  word-spacing: 0px;
  height: 39.96px;
  width: 559.26px;
  margin: 25px 0 25px 0;
  min-height: auto;
  min-width: auto;
  display: block;
  font-weight: 500;
  max-width: 100%;
  height: auto;
}

.charity .cont-button-learnmore {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.13px;
  line-height: 18.5714px;
  vertical-align: middle;
  white-space: nowrap;
}
.charity button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 0.25s;
}

.charity .learn-more {
  font-family: opensans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.13px;
  line-height: 18.5714px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  word-spacing: 0px;
  background-color: #222529;
  color: aliceblue;
  padding: 10px 26px 10px 26px;
  margin: 20px 0 0 0;
  border: 1px solid #fff;
  width: 142.632px;
  height: 41.34px;
  text-decoration: none solid rgb(255, 255, 255);
  border-radius: 5px;
}

.charity .image {
  width: 550.5px;
  border-radius: 5px;
}
img:hover {
  transition-duration: 0.2s;
  transform: scale(1.1);
}

.charity div {
  padding: 1rem;
  margin-top: 5px;
}

.charity2 .searchbardiv {
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  padding: 20px;
}

.charity2 .searchbar {
  width: 20rem;
  border-radius: 5px 0px 0px 5px;
  border-width: 2px;
  border-color: rgb(190, 189, 189);
  border-right: none;
  font-size: 15px;
  padding: 5px;
  border-style: solid;
  border-right-width: 0px;
}

.charity2 .search-button {
  background-color: white;
  border-width: 2px;
  border-color: rgb(190, 189, 189);
  border-left: none;
  height: 31.5px;
  border-radius: 5px 0px 0px 5px;
  border-style: solid;
  border-right-width: 0px;
  border-left-width: 2px;
  border-left-color: rgb(190, 189, 180);
  transform: rotateY(180deg);
  color: rgb(128, 126, 126);
}
.charity2 button:hover {
  cursor: pointer;
}

/* My Code starts here */

.social-Media {
  display: flex;
  flex-direction: row;
  margin-left: -100px;
  margin-top: 10px;
}
.foot {
  display: flex;
  flex-direction: row;
  margin-left: -17px;
  color: white;
  margin-top: 10px;
}

.social-container {
  background: #fff;
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-3px);
}
a.youtube {
  color: #eb3223;
}

a.linkedin {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: rgb(247, 238, 238);
}

/* My Code ends here */
